<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 🌐 PERMISO INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="HuertoCero"
        android:supportsRtl="true"
        android:theme="@style/Theme.HuertoCero">
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />
        <!-- 🗺️ GOOGLE MAPS API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXA87ua9cM2yYa8ieFJT45h-1gxzVynMQ" /> <!-- Activities -->
        <activity android:name=".DetailActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".ReservationsActivity"/>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>